<section class="widget-posts ui-tabbed">
    <ul class="widget-posts__tabs">
        <li>
            <a href="#widget-posts__drafts">Drafts</a>
            <em class="badge{% if dashboard.draftCount == 0 %} badge__empty{% endif %}">{{ dashboard.draftCount }}</em>
        </li>
        {% if dashboard is defined and dashboard.upcomingCount > 0 %}
            <li>
                <a href="#widget-posts__upcoming">Upcoming</a>
                <em class="badge">{{ dashboard.upcoming.total }}</em>
            </li>
        {% endif %}
        <li>
            <a href="#widget-posts__published">Latest</a>
            <em class="badge{% if dashboard.publishCount == 0 %} badge__empty{% endif %}">{{ dashboard.publishCount }}</em>
        </li>
        {% if dashboard.comments is defined and dashboard.comments is not empty %}
            <li>
                <a href="#widget-posts__comments">Comments</a>
            </li>
        {% endif %}
    </ul>

    {% if dashboard.drafts is defined and dashboard.drafts is not empty %}
        <ol id="widget-posts__drafts">
            {% for post in dashboard.drafts.results %}
                <li>
                    <a aria-label="Edit {{ post.title }}" href="/inadmin/{%- if post.type == 'page' %}page/{% endif -%}{{ post.urls[0].link }}"><h2>{{ post.title }}</h2>
                        <p>{{ post.content|markdown|striptags|length > 300 ? post.content|markdown|striptags|slice(0, 300) ~ '…' : post.content|markdown|striptags  }}</p></a>
                    <p class="date"><span class="material-icons">schedule</span> Last modified: <em>{{ post.modDate|date('jS F Y \\a\\t H:i', post.timezone) }} {{ post.timezone }}</em></p>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div id="widget-posts__drafts">
            <p>There are currently no draft posts available</p>
        </div>
    {% endif %}

    {% if dashboard.upcoming is defined and dashboard.upcoming is not empty %}
        <ol id="widget-posts__upcoming">
            {% for post in dashboard.upcoming %}
                <li>
                    <h2><a aria-label="Edit {{ post.title }}" href="/inadmin/{%- if post.type == 'page' %}page/{% endif -%}{{ post.urls[0].link }}">{{ post.title }}</a></h2>
                    <p>{{ post.content|length > 250 ? post.content|slice(0, 250) ~ '…' : post.content  }}</p>
                    <p class="date"><span class="material-icons">schedule</span> Scheduled for <em>{{ post.modDate|date('jS F Y \\a\\t H:i', post.timezone) }} {{ post.timezone }}</em></p>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if dashboard.posts is defined and dashboard.posts is not empty %}
        <ol id="widget-posts__published">
            {% for post in dashboard.posts.results %}
                <li>
                    <h2><a aria-label="Edit {{ post.title }}" href="/inadmin/{%- if post.type == 'page' %}page/{% endif -%}{{ post.urls[0].link }}">{{ post.title }}</a></h2>
                    <p>{{ post.content|length > 250 ? post.content|slice(0, 250) ~ '…' : post.content  }}</p>
                    <p class="date"><span class="material-icons">schedule</span> Published on <em>{{ post.modDate|date('jS F Y \\a\\t H:i', post.timezone) }} {{ post.timezone }}</em></p>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <div id="widget-posts__published">
            <p>There are currently no published posts available</p>
        </div>
    {% endif %}

    {% if dashboard.comments is defined and dashboard.comments is not empty %}
        <ol id="widget-posts__comments">
            {% for comment in data.comments.results %}
                <li>{{ comment.message }}</li>
            {% endfor %}
        </ol>
    {% endif %}
</section>
