<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ settings.language }}" lang="{{ settings.language }}" dir="{{ settings.textdirection }}"> 
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ data.page.title }}{% if data.page.title != '' %} / {% endif %}{{ settings.siteTitle }}</title> 
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="Content-Style-Type" content="text/css" /> 
	<meta name="robots" content="noindex,nofollow" /> 
	<link rel="Shortcut Icon" type="image/x-icon" href="{{ settings.domain }}/favicon.ico" /> 
	<link rel="icon" type="image/x-icon" href="{{ settings.domain }}/favicon.ico" /> 
	<link rel="apple-touch-icon" href="{{ settings.domain }}/images/apple-touch.png" /> 
	<link rel="P3Pv1" href="{{ settings.domain }}/w3c/p3p.xml" /> 
	<link rel="index" title="Fauna.me" href="{{ settings.domain }}" /> 
	{% include "admin__stylesheets.html.twig" %}
	{% include "admin__javascript__top.html.twig" %}
</head> 
<body>

<section class="admin__body-container">
	{% if session.user is not empty %}
	<section class="admin__search">
		<form method="post">
			<label for="q" class="material-icons">search</label>
			<input type="search" name="q" id="q" placeholder="search…" />
			<button class="hidden" type="submit">search</button>
		</form>
	</section>
	{% endif %}

	{% block content %}{% endblock content %}
</section>

{% if session.user is not empty %}
<section class="admin__container admin__container--collapsed">
	<section class="admin__identity">
		<h2><span>Inachis</span></h2>
	</section>
	<section class="admin__nav-main">
		<ul>
			<li>
				<a class="button admin__add-content" href="#new" title="Add new content"><i class="material-icons">edit</i><span> Add</span></a>
				<ul class="admin__nav-new">
					<li><a href="{{ settings.domain }}/inadmin/post/new" title="Add a new post"><i class="material-icons">short_text</i><span> New Post</span></a></li>
					<li><a href="{{ settings.domain }}/inadmin/page/new" title="Add a new page"><i class="material-icons">content_copy</i><span> New Page</span></a></li>
				</ul>
			</li>
			<!-- li><a href="{{ settings.domain }}/inadmin/dashboard" title="View dashboard"><i class="material-icons">dashboard</i><span> Dashboard</span></a></li -->
			<li><a href="{{ settings.domain }}/inadmin/post/list" title="View list of posts"><i class="material-icons">short_text</i><span> Posts</span></a></li>
			<li><a href="{{ settings.domain }}/inadmin/page/list" title="View list of pages"><i class="material-icons">content_copy</i><span> Pages</span></a></li>
			<li><a href="{{ settings.domain }}/inadmin/url/list" title="View list of defined URLs"><i class="material-icons">insert_link</i><span> URLs</span></a></li>
			<li>
				<a href="{{ settings.domain }}/inadmin/settings" title="Change settings"><i class="material-icons">settings</i><span> Settings</span></a>
				<ul>
					<li><a href="{{ settings.domain }}/inadmin/user-management" title="Manage users"><i class="material-icons">users</i><span> Users</span></a></li>
					<li><a href="{{ settings.domain }}/inadmin/settings/advanced" title="Change advanced settings">
						<i class="material-icons">advanced</i><span> Advanced</span></a>
					</li>
				</ul>
			</li>
			<li class="admin__nav-expand"><a href="#expand"><i class="material-icons">keyboard_arrow_right</i><span> Expand</span></a></li>
			<li class="admin__nav-collapse"><a href="#collapse"><i class="material-icons">keyboard_arrow_left</i><span> Collapse</span></a></li>
		</ul>
	</section>
</section>
{% endif %}

{% include "admin__javascript__bottom.html.twig" %}
</body> 
</html>