<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ settings.language }}" lang="{{ settings.language }}" dir="{{ settings.textdirection }}"> 
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>{{ data.page.title }}{% if data.page.title != '' %} / {% endif %}{{ settings.siteTitle }}</title> 
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
	<meta http-equiv="Content-Style-Type" content="text/css" /> 
	<meta name="robots" content="noindex,nofollow" /> 
	<link rel="Shortcut Icon" type="image/x-icon" href="{{ settings.domain }}/favicon.ico" /> 
	<link rel="icon" type="image/x-icon" href="{{ settings.domain }}/favicon.ico" /> 
	<link rel="apple-touch-icon" href="{{ settings.domain }}/images/apple-touch.png" /> 
	<link rel="P3Pv1" href="{{ settings.domain }}/w3c/p3p.xml" /> 
	<link rel="index" title="Fauna.me" href="{{ settings.domain }}" /> 
	{% include "admin__stylesheets.html.twig" %}
</head> 
<body>

<section class="admin__body-container">
	{% block content %}{% endblock content %}
</section>

<section class="admin__container admin__container--collapsed">
	<section class="admin__identity">
		<h2><span>Inachis</span></h2>
	</section>
	<section class="admin__nav-main">
		<ul>
			<li>
				<a class="button admin__add-content" href="#"><i>edit</i><span> Add Content</span></a>
				<ul>
					<li><a href="{{ settings.domain }}/inadmin/post/new"><i>post</i><span> Post</span></a></li>
					<li><a href="{{ settings.domain }}/inadmin/page/new"><i>page</i><span> Page</span></a></li>
				</ul>
			</li>
			<li><a href="{{ settings.domain }}/inadmin/dashboard"><i>dashboard</i><span> Dashboard</span></a></li>
			<li><a href="{{ settings.domain }}/inadmin/post/list"><i>post</i><span> Posts</span></a></li>
			<li><a href="{{ settings.domain }}/inadmin/page/list"><i>page</i><span> Pages</span></a></li>
			<li><a href="{{ settings.domain }}/inadmin/url/list"><i>links</i><span> URLs</span></a></li>
			<li>
				<a href="{{ settings.domain }}/inadmin/settings"><i>settings</i><span>Settings</span></a>
				<ul>
					<li><a href="{{ settings.domain }}/inadmin/user-management"><i>users</i><span> Users</span></a></li>
					<li><a href="{{ settings.domain }}/inadmin/settings/advanced"><i>advanced</i><span> Advanced</span></a></li>
				</ul>
			</li>
		</ul>
		<p><a class="button" href="#collapse"><span>Collapse</span></a></p>
	</section>
</body> 
</html>