{% if field.wrapperElement is not empty %}
	<{{ field.wrapperElement }}{% if field.wrapperClasses is not empty %} class="{{ field.wrapperClasses|join(' ') }}"{% endif %}>
{% endif %}
	<button id="{{ field.id }}" name="{{ field.name }}" type="{{ field.type }}"
		{%- if field.cssClasses is not empty %} class="{{ field.cssClasses|join(' ') }}"{% endif %}
		{%- if field.autoFocus %} autofocus{% endif %}
		{%- if field.disabled %} required{% endif %}
	>{{ field.label }}</button>
{% if field.wrapperElement is not empty %}
</{{ field.wrapperElement }}>
{%- endif %}
