<form action="{{ form.action }}" method="{{ form.method|lower }}"
	{%- if not form.autoComplete %} autocomplete="off"{% endif %}
	{%- if form.cssClasses is not empty %} class="{{ form.cssClasses|join(' ') }}"{% endif %}
	{%- if form.encType != 'text/plain' %} enctype="{{ form.enctype }}"{% endif %}
	{%- if form.noValidate %} novalidate="true"{% endif -%}
>
{% for component in form.components %}
	{{ include('forms/field__abstract.html.twig') }}
{% endfor %}

</form>
