{% extends "web/structure/main.html.twig" %}
{% block content %}

<div class="section group">
<div class="col span_1_of_8"></div>
<div class="col span_6_of_8">

    {% if post is defined %}
    <article class="post type-{{ post.type }} status-{{ post.status }} format-standard hentry {% if post.categories is not empty %}category-{{ post.categories|first.title|lower }}{% endif %}" id="{{ post.type }}-{{ post.id }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            {%- if post.subTitle is not empty %}
                <h2>{{ post.subTitle }}</h2>
            {% endif %}
            {% if post.type == "post" %}
            <div class="entry-meta">
                Posted on
                <a href="{{ url }}" title="{{ post.postDate|date('H:i') }}" rel="bookmark">
                    <time class="entry-date" datetime="{{ post.postDate|date('c') }}" pubdate>{{ post.postDate|date('F j, Y') }}</time></a>
                <span class="byline"> by <span class="author vcard">{{ post.author.displayName }}</span></span>
                <span class="cats-links"> under
                    {% if post.categories is not empty -%}
                        {% for category in post.categories -%}
                            <a href="/category/{{ category.title|url_encode }}/" rel="category">{{ category.title }}</a>
                        {% endfor %}
                    {% endif %}
			    </span>
            </div>
            {% endif %}
        </header>

        <div class="entry-content">
            {{ post.content|markdown }}
        </div>

        {% if series is defined %}
            <ul class="page-navigation">
                <li><span>More posts on &ldquo;</span><a href="">{{ series.title }}</a><span>&rdquo;</span></li>
            {% if series.previous is defined %}
                <li><span>Previous:</span> <a href="{{ series.previous.url }}">{{ series.previous.title }}</a></li>
            {% endif %}
            {% if series.next is defined %}
                <li><span>Next:</span> <a href="{{ series.next.url }}">{{ series.next.title }}</a></li>
            {% endif %}
            </ul>
        {% endif %}

        {% if post.tags is not empty -%}
            <p>Tags:
            {% for tag in post.tags -%}
                <a href="/tag/{{ tag.title|url_encode }}/" rel="category tag">{{ tag.title }}</a>
            {% endfor %}
            </p>
        {% endif %}
    </article>
    {% endif %}

</div>
<div class="col span_1_of_8"></div>
</div>

{% endblock content %}
