{% extends "web/structure/main.html.twig" %}
{% block content %}

    <div class="section group">
        <div class="col span_1_of_8"></div>
        <div class="col span_6_of_8">

            {% if series is defined %}
                <article class="post format-standard hentry" id="series-{{ series.id }}">
                    <header class="entry-header">
                        <h1 class="entry-title">{{ series.title }}</h1>
                        {%- if series.subTitle is not empty %}
                            <h2 class="entry-subtitle">{{ series.subTitle }}</h2>
                        {% endif %}
                    </header>

                    <div class="entry-content">
                        {{ series.description|markdown }}

                        {% if series.image.filename|default('') is not empty %}
                        <p><img alt="{{ series.image.altText }}" class="align_centre" src="{{ series.image.filename }}" /></p>
                        {% endif %}

                        {% if series.items is not empty %}
                        <p><strong>Contents</strong></p>
                        <ul>
                            {% for item in series.items %}
                                {% set title = item.title|replace({ (series.title): '' }) %}
                            <li>{{ title }} - <a href="{{ item.urls|first.link }}">{{ item.subTitle }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </article>
            {% endif %}

        </div>
        <div class="col span_1_of_8"></div>
    </div>

{% endblock content %}
