{% if post.items is defined %}
    {% set post_url = post.items|first.urls|first.link %}
{% elseif post.urls is defined %}
    {% set post_url = post.urls|first.link %}
{% endif %}
{% if post.featureImage is defined %}
    {% set post_image = post.featureImage %}
{% elseif post.image is defined %}
    {% set post_image = post.image %}
{% endif %}
<div class="section group">
    <div class="col span_1_of_8"></div>
    <div class="col span_6_of_8">
        <article class="blogbox {% if post_image is not empty %}{{ cycle(['right', 'left'], loop.index0) }}{% endif%} trip">
            {% if post_image is not empty %}
            <a href="/{{ post_url }}" class="blogbox_image">
                <img alt="{{ post_image.altText }}" fetchpriority="low" {% if lazyload|default(false) -%}
                     class="lazyload" data-{% endif -%}
                     src="{% if not (post_image.filename starts with 'http') %}/imgs/{% endif %}{{ post_image.filename }}" />
            </a>
            {% endif %}
            <div>
                <header>
                    <h2><a href="/{{ post_url }}">{{ post.title }}</a></h2>
                </header>
                <p>
                {%- if post.description is defined and post.description is not empty %}
                    {{ post.description|markdown|striptags }}
                {% elseif post.featureSnippet is defined and post.featureSnippet is not empty %}
                    {{ post.featureSnippet }}
                {% elseif post.content is defined and post.content is not empty %}
                    {{ post.content|markdown|striptags|slice(0, 400) }}
                    {% if post.content|markdown|striptags|length > 400 %}…{% endif %}
                {% endif -%}
                </p>
                <p class="post-details">
                {% if post.items is defined %}
                    <span>{{ post.firstDate|date("F j, Y") }} to {{ post.lastDate|date("F j, Y") }}</span> |
                    <strong>{{ post.items|length }}</strong> posts
                {% else %}
                    <span>{{ post.postDate|date("F j, Y") }}</span>
                {% endif %}
                </p>
            </div>
        </article>
    </div>
    <div class="col span_1_of_8"></div>
</div>
