{% set pageBlockStart, lastPage =
    max(0, offset - (limit * maxPagesToShow / 2)),
    ((maxResults/limit)|round(0, 'ceil') - 1) * limit
%}
{% set pageBlockEnd = min(offset + (limit * maxPagesToShow / 2), lastPage) %}
{% block pagination %}
<nav role="navigation" aria-label="Pagination Navigation">
    <ul class="pagination">
    {% if showTitle|default(false) %}
        <li><span>{{ title|default('Pages:') }}</span></li>
    {% endif %}

    {% if pageBlockStart > 0 %}
        <li class="page-item{% if offset == 0 %} current{% endif %}">
            <a href="{{ result_url ~ '/0/' ~ limit }}"
               {%- if offset == 0 %} aria-current="true" {% endif -%}
               aria-label="Go to first page" class="page-link">
                {%- if showFirstNext|default(false) %}
                    <span>First</span>
                {% else %}
                    1
                {% endif -%}
            </a>
        </li>
    {% endif %}

    {% if showFirstNext|default(false) %}
        {% if offset - limit >= 0 %}
        <li class="page-item">
            <a href="{{ result_url ~ '/' ~ (offset - limit) ~ '/' ~ limit }}" aria-label="Go to the previous page" class="page-link"><span>Previous</span></a>
        </li>
        {% endif %}
        {% if offset + limit <= lastPage %}
        <li class="page-item">
            <a href="{{ result_url ~ '/' ~ (offset + limit) ~ '/' ~ limit }}" aria-label="Go to the next page" class="page-link"><span>Next</span></a>
        </li>
        {% endif %}
    {% else %}
        {% if pageBlockStart > limit %}
        <li class="pagination-spacer"><span aria-hidden="true">…</span></li>
        {% endif %}
        {% for i in range(pageBlockStart, pageBlockEnd, limit) %}
        <li class="page-item{% if i == offset %} current{% endif %}">
            <a href="{{ result_url ~ '/' ~ i ~ '/' ~ limit }}" {% if pageBlockStart == 0 + offset %} aria-current="true"{% endif %} aria-label="Go to page {{ (i/limit + 1)|round(0, 'floor') }}" class="page-link">{{ (i/limit + 1)|round(0, 'floor') }}</a>
        </li>
        {% endfor %}
        {% if pageBlockEnd + limit < lastPage %}
        <li class="pagination-spacer"><span aria-hidden="true">…</span></li>
        {% endif %}
    {% endif %}


    {% if pageBlockEnd < lastPage %}
        <li class="page-item{% if offset + limit >=  maxResults %} current{% endif %}">
            <a href="{{ result_url ~ '/' ~ lastPage ~ '/' ~ limit }}" aria-label="Go to last page" class="page-link"
                {%- if offset + limit >=  maxResults %} aria-current="true"{% endif -%}>
                {%- if showFirstNext|default(false) %}
                    <span>Last</span>
                {% else %}
                    {{ (lastPage/limit + 1)|round(0, 'floor')}}
                {% endif -%}
            </a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endblock pagination %}