<section class="widget-posts">
	<ul class="widget-posts__tabs">
		<li class="widget-posts__tabs__active">
			<a href="#" data-target="widget-posts__published">Recently Published</a>
			<em class="badge">{{ data.publishCount }}</em>
		</li>
		<li>
			<a href="#" data-target="widget-posts__drafts">Drafts</a>
			<em class="badge badge__empty">{{ data.draftCount }}</em>
		</li>
	</ul>

{% if data.posts is not empty %}
	<ol class="widget-posts__published widget-posts__active">
	{% for post in data.posts %}
		<li>
			<span>Jun 19th, 00:00</span>
			<a aria-label="Edit {{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ol>
{% else %}
	<div class="widget-posts__published widget-posts__active">
		<p>There are currently no published posts available</p>
	</div>
{% endif %}

{% if data.drafts is not empty %}
	<ol class="widget-posts__drafts">
	{% for post in data.drafts %}
		<li>
			<a aria-label="Edit {{ post.title }}" href="{{ post.url }}">{{ post.title }}</a>
		</li>
	{% endfor %}
	</ol>
{% else %}
	<div class="widget-posts__drafts">
		<p>There are currently no draft posts available</p>
	</div>
{% endif %}
</section>
