{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    <div class="col span_2_of_8"></div>
    <div class="col span_4_of_8 container__login">

    {% block form_forgot_pre %}
        {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
        {% endfor %}
    {% endblock form_forgot_pre %}
    {% block form_forgot %}
        <div class="col span_1_of_2 logo">
            <h1>Login to</h1>
            <h2>{{ settings.siteTitle }}</h2>
        </div>
        <div class="col span_1_of_2">
            {{ form_start(form, {attr: {class: 'form form__login', autocomplete: false}}) }}

            {{- form_errors(form) -}}

            {{ form_label(form.forgot_email) }}
            {{ form_errors(form.forgot_email) }}
            {{ form_widget(form.forgot_email) }}

            <div class="g-reCAPTCHA" data-sitekey="%KEY_GOES_HERE%"></div>

            <div>
                {{ form_widget(form.resetPassword) }}
                <a class="button button--negative" href="{{ path('app_account_login') }}">
                    {% trans %}admin.button.cancel{% endtrans %}</a>
            </div>

            {{ form_row(form._token) }}
            {{ form_end(form, { 'render_rest': false }) }}
        </div>
        {% endblock form_forgot %}
        {% block form_forgot_post %}{% endblock form_forgot_post %}
    </div>
    <div class="col span_2_of_8"></div>

{% endblock content %}
