{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block import_main_pre %}{% endblock import_main_pre %}

    {% block import_main %}
    <div class="col span_8_of_8 widget-posts ui-tabs-external">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active">
                <a href="{{ settings.domain ~ path('app_zzpage_getpostlistadmin', {'type': 'post'}) }}">Posts</a>
            </li>
            <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active">
                <a href="{{ settings.domain ~ path('app_zzpage_getpostlistadmin', {'type': 'page'}) }}">Pages</a>
            </li>
            <li role="tab" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active">
                <a href="{{ settings.domain ~ path('app_import_index') }}">Import</a>
            </li>
        </ul>

        <h2>Import Posts</h2>
        <form action="{{ path('app_import_index') }}" class="dropzone" method="post">
        {{
            include('inadmin/partials/dropzone.html.twig', {
                'dropzoneUrl': path('app_import_index'),
                'helpText': 'Upload posts using markdown files (.md), or JSON files (.json).',
                'paramName': 'markdownFiles',
                'uploadMultiple': true,
                'maxFilesize': 2,
                'acceptedFiles': 'text/plain,.md,.json'
            })
        }}
        </form>
    </div>
    {% endblock import_main %}


    {% block import_main_post %}{% endblock import_main_post %}
{% endblock content %}
