{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {{ form_start(form, {'attr': { 'class': 'form form__post' }}) }}
    <div class="col span_8_of_8 ui-tabbed content__edit">
        <ul>
            <li>
                <a href="#post__edit">Content</a>
            </li>
            <li>
                <a href="#post__properties">Properties</a>
            </li>
            <li>
                <a href="#post__sharing">Sharing</a>
            </li>
            {%  if revisions is defined and revisions is not empty %}
            <li>
                <a href="#post__history">History</a>
            </li>
            {% endif %}
        </ul>

        {{- form_errors(form) -}}

        <fieldset id="post__edit">
            <legend>Edit Post</legend>
            <p>
                <a class="material-icons ui-toggle" href="#" data-target=".post__link__edit" data-target-state="hidden">link</a>
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}
            </p>
            <p>
                {{ form_label(form.subTitle) }}
                {{ form_errors(form.subTitle) }}
                {{ form_widget(form.subTitle) }}
            </p>
            <p class="post__link__edit">
                {{ form_label(form.url) }}
                {{ form_errors(form.url) }}
                {{ settings.domain -}}/<input id="post_url" name="post[url]" type="text" value="{% if post.urls is not empty %}{{ post.urls|first.link }}{% endif %}" />
            </p>
            <p>
                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}
            </p>
        </fieldset>

        <fieldset id="post__properties">
            <legend>Properties</legend>
            <p>
                {{ form_label(form.visibility) }}
                {{ form_errors(form.visibility) }}
                <span class="switch-wrapper">
                    {{ form_widget(form.visibility) }}
				</span>
            </p>
            <p>
                {{ form_label(form.postDate) }}
                {{ form_errors(form.postDate) }}
                <span id="post__schedule__timed">
                    {{ form_widget(form.postDate) }}
				</span>
            </p>
            <p>
                {{ form_label(form.categories) }}
                {{ form_errors(form.categories) }}
                {{ form_widget(form.categories) }}
                <a class="material-icons category-manager__link" href="#">add_box</a>
            </p>
            <p>
                {{ form_label(form.tags) }}
                {{ form_errors(form.tags) }}
                {{ form_widget(form.tags) }}
            </p>
            {% if settings.google.key is defined and settings.google.key is not empty %}
                <p>
                    {{ form_label(form.latlong) }}
                    {{ form_errors(form.latlong) }}
                    {{ form_widget(form.latlong) }}
                </p>
            {% endif %}
        </fieldset>

        <fieldset id="post__sharing">
            <h3>Teaser Details</h3>
            <p><em class="material-icons">info</em> This text will be used whenever people share a link to your content on social media. It can also be used in other places such as your homepage.</p>
            {% if post.urls is not empty %}
            <p>
                <input type="text" value="{{ post.urls|first.link }}" />
                <button id="post__link__copy">Copy this link</button>
            </p>
            {% endif %}
            <p>
                {{ form_label(form.featureSnippet) }}
                {{ form_errors(form.featureSnippet) }}
                {{ form_widget(form.featureSnippet) }}
            </p>
            <p>
                <label for="featureImage">Preview Image</label>
                <input id="featureImage" name="featureImage" type="file" value="{{ post.featureImage }}" />
            </p>
            <h3>Sharing</h3>
            <p><em class="material-icons">info</em> These will be published to the selected Social Media accounts automatically when first published, or scheduled to to be posted.</p>
            <!-- loop through services / accounts for checkboxes + add char counter below for ui-counter -->
            <p>
                {{ form_label(form.sharingMessage) }}
                {{ form_errors(form.sharingMessage) }}
                {{ form_widget(form.sharingMessage) }}
            </p>
        </fieldset>

        {%  if revisions is defined and revisions is not empty %}
        <fieldset id="post__history">
            <table class="table table-responsive table-striped table-borderless">
                <caption>Revision history</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Author</th>
                        <th scope="col">Changes</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for revision in revisions %}
                    <tr>
                        <th scope="row">23</th>
                        <td>22/09/2019</td>
                        <td>Doc Brown</td>
                        <td>Published</td>
                        <td>
                            <button class="button button--info" type="button"><span class="material-icons">compare_arrows</span> View Version</button>
                            <button class="button button--info" type="button"><span class="material-icons">save_alt</span> Download</button>
                            <button class="button button--negative" type="button"><span class="material-icons">undo</span> Revert</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </fieldset>
        {% endif %}
    </div>

    <div class="fixed-bottom-bar">
        <p>
            {{ form_widget(form.submit) }}
            {%- if post.status != "published" %}
                <button type="submit" class="button button--info" name="publish">{% if post.postDate > date() %}Schedule{% else %}Publish{% endif %}</button>
            {%- endif %}
            {{ form_widget(form.delete) }}
            {%  if post.id is not empty and not post.isDraft %}
                <a class="button" href="/{{ post.urls|first.link }}" target="_blank" title="View Live"><span class="material-icons">exit_to_app</span></a>
            {%  endif %}
        </p>
    </div>
    {{ form_row(form._token) }}
    {{ form_end(form, { 'render_rest': false }) }}

    <link rel="stylesheet" href="/assets/css/incc/jquery.switchButton.css">
    <script src="/assets/js/incc/jquery.switchButton.js"></script>

{% endblock content %}
