{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block series_edit_pre %}{% endblock series_edit_pre %}

    {% block series_edit %}

        {{ form_start(form, {'attr': { 'class': 'form form__post form__series' }}) }}
        <div class="col span_8_of_8 ui-tabbed">
            <fieldset id="post__edit">
                <legend>Series</legend>
                <p>
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </p>
                <p>
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </p>
                <p>
                    {{ form_label(form.firstDate) }}
                    {{ form_errors(form.firstDate) }}
                    {{ form_widget(form.firstDate) }}
                </p>
                <p>
                    {{ form_label(form.lastDate) }}
                    {{ form_errors(form.lastDate) }}
                    {{ form_widget(form.lastDate) }}
                </p>
            </fieldset>
            <div class="fixed-bottom-bar">
                <p>
                {% if series.id is not empty %}
                    {{ form_widget(form.addItem) }}
                {% endif %}
                    {{ form_widget(form.submit) }}
                    {{ form_widget(form.delete) }}
                </p>
            </div>
        </div>
        {{ form_end(form) }}

        <link rel="stylesheet" href="/assets/css/incc/jquery.datetimepicker.css">
        <script src="/assets/js/incc/jquery.datetimepicker.full.min.js"></script>

    {% endblock series_edit %}


    {% block series_edit_post %}{% endblock series_edit_post %}
{% endblock content %}