{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block series_edit_pre %}{% endblock series_edit_pre %}

    {% block series_edit %}

        {{ form_start(form, {'attr': { 'class': 'form form__post form__series' }}) }}
        <div class="col span_6_of_8 content__edit">
            <fieldset id="post__edit">
                <legend>{% trans %}admin.series.legend{% endtrans %}</legend>

                {{
                include('inadmin/partials/image_preview.html.twig', {
                    'id': 'series_image',
                    'name': 'series[image]',
                    'value': series.image,
                    'additionalClass': 'preview__small'
                })
                }}
                <p>
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </p>
                <p>
                    {{ form_label(form.subTitle) }}
                    {{ form_errors(form.subTitle) }}
                    {{ form_widget(form.subTitle) }}
                </p>
                {% if series.id is not empty %}
                <p>
                    {{ form_label(form.url) }}
                    {{ form_errors(form.url) }}
                    /{{ series.firstDate|date('Y') }}-{{ form_widget(form.url) }}
                </p>
                {% else %}
                    {{ form_widget(form.url, {'type': 'hidden', 'attr': {'pattern': ''}}) }}
                {% endif %}
                <p>
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </p>
            </fieldset>
        </div>
        <div class="col span_2_of_8 content__edit edit__list">
            {% if series.id is not empty %}<p class="float_right">{{ form_widget(form.addItem) }}</p>{% endif %}
            <h2>
                {% trans %}admin.series.contents.title{% endtrans %}
                <span class="badge">{{ series.items|length }}</span>
            </h2>
            {% if series.id is not empty %}

                {% if series.items is not empty %}
                <p>
                    {{ form_label(form.firstDate) }}
                    {{ form_errors(form.firstDate) }}
                    {{ form_widget(form.firstDate) }}
                </p>
                <p>
                    {{ form_label(form.lastDate) }}
                    {{ form_errors(form.lastDate) }}
                    {{ form_widget(form.lastDate) }}
                </p>
                    <ol>
                    {% for item in series.items %}
                        <li>
                            <input type="checkbox" name="series[itemList][]" id="series_item_{{ loop.index }}" value="{{ item.id }}" />
                            <a href="/incc/{{ item.type }}/{{ item.urls|first.link }}"><span class="material-icons">edit_note</span></a>
                            <label id="series_item_{{ loop.index }}_label" for="series_item_{{ loop.index }}">
                               {{ item.title }}{% if item.subTitle is not empty %} - {{ item.subTitle }}{% endif %}</label>
                        </li>
                    {% endfor %}
                    </ol>
                    <p>
                        With Selected:
                        {{ form_widget(form.remove) }}
                    </p>
                {% else %}
                    <p class="content-warning">
                        <i class="material-icons">info_outline</i>
                        <span>{% trans %}admin.series.contents.no_content{% endtrans %}</span>
                    </p>
                {% endif %}
            {% else %}
                <p class="content-warning">
                    <i class="material-icons">info_outline</i>
                    <span>{% trans %}admin.series.contents.not_saved{% endtrans %}</span>
                </p>
            {% endif %}
        </div>
        <div class="fixed-bottom-bar">
            <p>
                {{ form_widget(form.submit) }}
                {{ form_widget(form.delete) }}
                {%  if series.id is not empty and series.items|length > 0 %}
                    <a class="button" href="{{ path('app_series_view', { 'year': series.lastDate|date('Y'), 'title': series.url}) }}" target="_blank" title="View Live"><span class="material-icons">exit_to_app</span></a>
                {%  endif %}
            </p>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {render_rest: false}) }}

    {% endblock series_edit %}


    {% block series_edit_post %}{% endblock series_edit_post %}
{% endblock content %}
