{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block series_edit_pre %}{% endblock series_edit_pre %}

    {% block series_edit %}

        {{ form_start(form, {'attr': { 'class': 'form form__post form__series' }}) }}
        <div class="col span_6_of_8 content__edit">
            <fieldset id="post__edit">
                <legend>{% trans %}admin.series.legend{% endtrans %}</legend>

                {{
                include('inadmin/partials/image_preview.html.twig', {
                    'id': 'series_image',
                    'name': 'series[image]',
                    'value': series.image,
                    'additionalClass': 'preview__small'
                })
                }}
                <p>
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </p>
                <p>
                    {{ form_label(form.subTitle) }}
                    {{ form_errors(form.subTitle) }}
                    {{ form_widget(form.subTitle) }}
                </p>
                <p>
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </p>
            </fieldset>
        </div>
        <div class="col span_2_of_8 content__edit">
            {% if series.id is not empty %}<p class="float_right">{{ form_widget(form.addItem) }}</p>{% endif %}
            <h2>
                {% trans %}admin.series.contents.title{% endtrans %}
                <span class="badge">{{ series.items|length }}</span>
            </h2>
            {% if series.id is not empty %}
                {{ form_errors(form.firstDate) }}
                {{ form_errors(form.lastDate) }}
                <p>
                    {{ form_label(form.firstDate) }}
                    {{ form_label(form.lastDate) }}
                </p>
                <p>
                    {{ form_widget(form.firstDate) }}
                    {{ form_widget(form.lastDate) }}
                </p>

                <p></p>

                {% if series.items is not empty %}
                    <ol>
                    {% for item in series.items %}
                        <li>
                            <a href="/incc/{{ item.type }}/{{ item.urls|first.link }}">
                                {{ item.title }}{% if item.subTitle is not empty %} - {{ item.subTitle }}{% endif %}</a>
                        </li>
                    {% endfor %}
                    </ol>
                {% else %}
                    <p class="content-warning">
                        <i class="material-icons">info_outline</i>
                        <span>{% trans %}admin.series.contents.no_content{% endtrans %}</span>
                    </p>
                {% endif %}
            {% else %}
                <p class="content-warning">
                    <i class="material-icons">info_outline</i>
                    <span>{% trans %}admin.series.contents.not_saved{% endtrans %}</span>
                </p>
            {% endif %}
        </div>
        <div class="fixed-bottom-bar">
            <p>
                {{ form_widget(form.submit) }}
                {{ form_widget(form.delete) }}
            </p>
        </div>
        {{ form_end(form) }}

    {% endblock series_edit %}


    {% block series_edit_post %}{% endblock series_edit_post %}
{% endblock content %}
