{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block settings_check_pre %}{% endblock settings_check_pre %}

    {% block settings_check %}

        <div class="col span_4_of_8">
            <table>
                <thead>
                    <tr>
                        <th colspan="3" id="php_settings">PHP Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="php_version">
                            PHP Version<br />
                            <em>Requires {{ check.php.required_version }}</em>
                        </th>
                        <td headers="php_settings php_version">{{ check.php.current_version }}</td>
                        <td headers="php_settings php_version"><span class="material-icons">check_box{% if not check.php.version_ok %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th id="php_accelerator">Accelerator</th>
                        <td headers="php_settings php_accelerator">{{ check.php.accelerator }}</td>
                        <td headers="php_settings php_accelerator"><span class="material-icons">check_box{% if check.php.accelerator is empty %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th colspan="2" id="php_magic">Magic Quotes disabled</th>
                        <td headers="php_settings php_magic"><span class="material-icons">check_box{% if not check.php.magic_quotes_disabled %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th colspan="2" id="php_shorttags">Short Tags disabled</th>
                        <td headers="php_settings php_shorttags"><span class="material-icons">check_box{% if not check.php.short_tags_disabled %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th id="php_session_name">PHP Session Name</th>
                        <td headers="php_settings php_session_name">{{ check.php.session.name }}</td>
                        <td headers="php_settings php_session_name"><span class="material-icons">check_box{% if check.php.session.name == 'PHPSESSID' %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th id="php_session_name">PHP Session Cookie Domain</th>
                        <td headers="php_settings php_session_name">{{ check.php.session.domain }}</td>
                        <td headers="php_settings php_session_name"><span class="material-icons">check_box{% if check.php.session.domain is empty %}_outline_blank{% endif %}</span></td>
                    </tr>
                    <tr>
                        <th id="php_session_name">PHP Session Hash Bits per Character</th>
                        <td headers="php_settings php_session_name">{{ check.php.session.hash_bits }}</td>
                        <td headers="php_settings php_session_name"><span class="material-icons">check_box{% if check.php.session.hash_bits <= 6 %}_outline_blank{% endif %}</span></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3" id="extensions">Extensions</th>
                    </tr>
                </thead>
                <tbody>
                {% for extension, extension_installed in check.extensions %}
                    <tr>
                        <th colspan="2" id="ext-{{ extension }}">{{ extension }}</th>
                        <td headers="extensions ext-{{ extension }}"><span class="material-icons">check_box{% if not extension_installed %}_outline_blank{% endif %}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3" id="general">General Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th id="general_timezone">Timezone</th>
                        <td headers="general general_timezone">{{ check.timezone.current }}</td>
                        <td headers="general general_timezone"><span class="material-icons">check_box{% if not check.timezone.valid %}_outline_blank{% endif %}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>

    {% endblock settings_check %}


    {% block settings_check_post %}{% endblock settings_check_post %}
{% endblock content %}
