{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    <div class="col span_2_of_8"></div>
    <div class="col span_4_of_8 container__login">

    {% block form_login_pre %}{% endblock form_login_pre %}
    {% block form_login %}
        <div class="col span_1_of_2 logo">
            <h1>Login to</h1>
            <h2>{{ settings.siteTitle }}</h2>
        </div>
        <div class="col span_1_of_2">
            {{ form_start(form, {attr: {class: 'form form__login', autocomplete: false}}) }}
            {% if error %}
                <div class="flash-notice">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <p><a href="{{ path('app_account_forgotpassword') }}" title=""><span>{% trans %}Forgot your password?{% endtrans %}</span></a></p>
        </div>
    {% endblock form_login %}
    {% block form_login_post %}{% endblock form_login_post %}

    </div>
    <div class="col span_2_of_8"></div>

{% endblock content %}
