{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block track_changes_pre %}{% endblock track_changes_pre %}

    {% block track_changes %}
        <section id="track_changes">
            <h2>{% if title[0][0].tag is defined %}{{ title[0][0].new.lines[0]|raw }}{% else %}{{ title }}{% endif %}</h2>
        {% if subTitle is not empty %}
            <h3>{% if subTitle[0][0].tag is defined %}{{ subTitle[0][0].new.lines[0]|raw }}{% else %}{{ subTitle }}{% endif %}</h3>
        {% endif %}
        {% set skip_lines = 0 %}

        {% for content_block in content %}
            {% if skip_lines > 0 %}
                {% set skip_lines = skip_lines - 1 %}
            {% else %}
                {% if content_block.tag is defined and content_block.tag == 'del' %}
                    {% set skip_lines = content_block.old.lines|length - 1 %}
                    <del>{{ content_block.old.lines|join|markdown }}</del>
                {% elseif content_block.tag is defined and content_block.tag == 'rep' %}
                    {% set skip_lines = content_block.old.lines|length - 1 %}
                    <div class="change_block">
                        <del>{{ content_block.old.lines|join|markdown }}</del>
                        <ins>{{ content_block.new.lines|join|markdown }}</ins>
                    </div>
                {% else %}
                    {{ content_block|markdown }}
                {% endif %}
            {% endif %}
        {% endfor %}
        </section>

        <div class="fixed-bottom-bar">
            <p>
                <button class="button button--negative"><span class="material-icons">undo</span> Revert</button>
                <a href="#" class="button button--info">Cancel</a>
            </p>
        </div>

    {% endblock track_changes %}

    {% block track_changes_post %}{% endblock track_changes_post %}
{% endblock content %}
