{% extends "inadmin/structure/main.html.twig" %}
{% block content %}

    {% block url_list_pre %}{% endblock url_list_pre %}

    {% block url_list %}
        <div class="col span_8_of_8 widget-data-list">
            {%  if urls is not empty %}
                <form>
                    <p>Showing {{ page.offset + 1 }} to {{ min(page.offset + page.limit, urls.count) }} of {{ urls.count }}</p>

                    {%  for url in urls.iterator %}
                        <article id="url-{{ url.id }}" class="hentry url-{% if not url.default %}not-{% endif %}default">
                            <input id="post-{{ url.id }}__input" type="checkbox" name="urls[]" value="{{ url.id }}" />
                            <label for="post-{{ url.id }}__input">
                                <strong>{{ url.link }}</strong>
                                {% if url.default %}
                                    <span class="badge badge__default">default</span>
                                {% endif %}
                                <span>{{  url.content.title }}</span>
                                <em class="date">{{ url.modDate|date('jS F Y \\a\\t H:i') }}</em>
                            </label>
                        </article>
                    {%  endfor %}
                    {{  include('inadmin/partials/pagination.html.twig', {
                        offset: page.offset,
                        limit: page.limit,
                        maxResults: urls.count,
                        maxPagesToShow: 4,
                        result_url: path('app_url_list')
                    }) }}
                </form>
            {% else %}
                <p class="content-warning">
                    <i class="material-icons">info_outline</i>
                    <span>You don't have any URLs yet!</span>
                    <a href="{{ path('app_zzpage_getpostadmin') }}">Add some content first!</a>
                </p>
            {% endif %}
        </div>
    {% endblock url_list %}


    {% block url_list_post %}{% endblock url_list_post %}
{% endblock content %}